@charset "utf-8";

body {background-color: darkgoldenrod;font-family: Arial, Helvetica, sans-serif;text-align: justify;font-size: 20px;color: rgb(72, 70, 64);
}
h1{
    color: rgb(99, 11, 11);font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}